name: Build with Gradle and NPM
on: [pull_request, push, workflow_dispatch]
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          persist-credentials: false
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # 5.0.0
      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # 5.0.0
        with:
          distribution: 'temurin'
          java-version: 21
          check-latest: true
      - name: Set up Node.js 20
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # 6.0.0
        with:
          node-version: 20
          check-latest: true
      - name: Install NPM dependencies
        run: npm ci
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload Artifacts to GitHub
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # 5.0.0
        with:
          name: Artifacts
          path: build/libs/
